* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #74eba8, #acb6e5);
    padding: 20px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
}

.profile-image img {
    width: 200px;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;

    transition: border-radius 0.3s;
}

.profile-image img:hover {
    border-radius: 10px;
}

.profile-info {
    text-align: center;
    width: 100%;
}

.profile-info h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.profile-info p {
    margin: 5px 0;
    font-size: 1em;
    color: #666;
}

.profile-info strong {
    color: #333;
}

.common-button {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: background 0.3s;
}

.common-button:hover {
    background: #0056b3;
}

.reviews-container {
    display: none;
    margin-top: 20px;
}

.report {
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
}

.report-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.report-author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.report-author span {
    font-weight: bold;
    color: #333;
}

.report-date {
    margin-left: auto;
    font-size: 0.9em;
    color: #999;
}

.report-text {
    color: #666;
}

.add-report {
    margin-top: 20px;
    padding: 15px;
    background: #f4f4f9;
    border-radius: 8px;
}

.add-report textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
}

.add-report .submit-button {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.add-report .submit-button:hover {
    background: #0056b3;
}