body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    /* margin-top: calc(env(safe-area-inset-top) + 10px); */
    background: linear-gradient(to right, #74eba8, #acb6e5);
}

body, html {
    margin: 0;
    padding: 0;
    scroll-padding-top: 20px;
}

.container {
    width: 90%;
    max-width: 1200px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 0px 20px;
}

.container.log-reg {
    max-width: 400px !important;
}

.form {
    padding: 20px;
    display: none;
}
.form.active {
    display: block;
}
h2 {
    margin: 0 0 20px;
    font-size: 24px;
    text-align: center;
}
input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"] {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}
input[type="submit"]:hover {
    background: #45a049;
}
.toggle-btn, .common-button {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}
.toggle-btn:hover, .common-button:hover {
    background: #0056b3;
}

.delete-button {
    background: #ff0000e0 !important;
}
.delete-button:hover {
    background: #a50101 !important;
}

.userdata_block, .table_block {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    /* word-wrap: break-word; Перенос текста в ячейках */
}
table th {
    background-color: #f4f4f4;
    font-weight: bold;
}
.table_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #0056b3 solid 2px;
    object-fit: cover;
}

.scroll-container {
    max-width: 100%; /* Контейнер занимает всю доступную ширину */
    overflow-x: auto; /* Включает горизонтальную прокрутку */
    overflow-y: hidden; /* Отключает вертикальную прокрутку */
    white-space: nowrap; /* Предотвращает перенос строк внутри контейнера */
}

.table_img:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: #007BFF;
}
a:hover {
    text-decoration: underline;
}

.input_error {
    border: 1px solid red;
}

.error_message {
    color: red;
    font-size: 0.9em;
    margin-top: 1px;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
    transition: all 0.3s ease;
    background-color: #f0f8ff; /* Светло-голубой фон */
    border-color: #007acc;    /* Синяя рамка */
    box-shadow: 0 0 5px rgba(0, 122, 204, 0.5); /* Легкая подсветка */
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    background-color: #e6f7ff; /* Еще более светлый фон при фокусе */
    border-color: #005bb5;    /* Темно-синяя рамка */
    box-shadow: 0 0 8px rgba(0, 91, 181, 0.7); /* Увеличенная подсветка */
    outline: none;
}
